<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://use.typekit.net">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap">
<link rel="stylesheet" href="https://use.typekit.net/hoj2yet.css">
<link rel="icon" type="image/png" href="{{ '/assets/images/defaults/favicon.png' | relative_url }}">
<meta name="theme-color" content="#000000">
<script id="site-translations" type="application/json">{{ site.data.i18n | jsonify }}</script>
<script defer src="{{ '/assets/js/site.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
